<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.MasterDAO">



    <!--查所有上师-->
    <select id="findAll" resultType="Master">
        select id,name,imgUrl,status from t_master
    </select>



</mapper>